$yellow: #FFC20F;
$blue: #1A7BFF;
$green: #2BBE65;
$orange: #FA6D42;
$pink: #FF326E;
$black: #2A2A2A;
$gray: #777777;
$gray8: #888888;
$grayA: #ABAFB3;
$grayD: #D6D6D6;
$grayF: #F1F1F1;


.line{
  display: block;
  padding: 1px;
  width: 100%;

}

